<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Contact Application | UIUC</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.brand.illinois.edu/toolkit/2/toolkit.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.brand.illinois.edu/toolkit/2/icons.css">
    <script src="https://cdn.brand.illinois.edu/toolkit/2/toolkit.js"></script>
    <link type="text/css" rel="stylesheet" href="css/site.css">
    <!--
        <script src="//onetrust.techservices.illinois.edu/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="26be7d61-2017-4ea7-8a8b-8f1704889763"></script>
        <script type="text/javascript">function OptanonWrapper() { }</script>
    -->
    <script src="https://cdn.disability.illinois.edu/skipto.min.js"></script>
    <script>var SkipToConfig = { 'settings': { 'skipTo': { displayOption: 'popup', colorTheme: 'illinois' } } };</script>
</head>
<body>
    <header>
        <il-header>
            <div slot="wordmark">
                <il-unit-wordmark>
                    <p class="il-primary-unit"><a href="https://education.illinois.edu">College of Education </a></p>
                    <h1><a href="/">Contact Application</a></h1>
                </il-unit-wordmark>
            </div>
            <div slot="search">
                <partial name="_LoginPartial" />
            </div>
        </il-header>
    </header>
    <main role="main" class="il-formatted">
        @RenderBody()
    </main>

    <footer>
        <il-footer>

            <div slot="contact" class="il-footer-contact uofi_address">
                <p><a href="/" id="link-1">College of Education</a></p>
            </div>

            <div slot="social" class="il-footer-social">
                <ul>
                    <li><a href="https://www.instagram.com/educationillinois/"></a></li>
                    <li><a href="https://www.facebook.com/educationatillinois?ref=ts"></a></li>
                    <li><a href="https://twitter.com/edILLINOIS"></a></li>
                    <li><a href="https://www.youtube.com/user/educationatillinois"></a></li>
                    <li><a href="https://www.linkedin.com/in/educationatillinois"></a></li>
                </ul>
            </div>

            <div slot="parent" class="il-footer-parent">
            </div>

            <div class="il-footer-navigation">
            </div>

            <nav slot="links" class="il-footer-links">
                <h2 class="il-invisible">Additional links</h2>
                <ul>
                    <li><button id="ot-sdk-btn" class="ot-sdk-show-settings">About Cookies</button></li>
                    <li><a href="https://www.vpaa.uillinois.edu/resources/web_privacy">Privacy Policy</a></li>
                    <li><a href="https://itaccessibility.illinois.edu/contact">Accessibility</a></li>
                    <li>&#169; 2021 University of Illinois Board of Trustees</li>
                    <li><a href="https://wiki.illinois.edu/wiki/download/attachments/66421578/COE%20Approved%20Bylaws%2005.15.2020.pdf">College Bylaws</a></li>
                </ul>
            </nav>
        </il-footer>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>