<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Contact Application | UIUC</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.brand.illinois.edu/toolkit/2/toolkit.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.brand.illinois.edu/toolkit/2/icons.css">
    <script src="https://cdn.brand.illinois.edu/toolkit/2/toolkit.js"></script>
    <link type="text/css" rel="stylesheet" href="css/site.css">
    <!--
        <script src="//onetrust.techservices.illinois.edu/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="26be7d61-2017-4ea7-8a8b-8f1704889763"></script>
        <script type="text/javascript">function OptanonWrapper() { }</script>
    -->
    <script src="//contrib.webtheme.illinois.edu/ils-input/input.min.js"></script>
    <script>var SkipToConfig = { 'settings': { 'skipTo': { displayOption: 'popup', colorTheme: 'illinois' } } };</script>
</head>
<body>
    <header>
        <il-header>
            <div slot="wordmark">
                <il-unit-wordmark>
                    <h1><a href="/">Illinois Support Contact Application</a></h1>
                </il-unit-wordmark>
            </div>
            <div slot="search">
                <partial name="_LoginPartial" />
            </div>
        </il-header>
    </header>
    <main class="il-formatted">
        @RenderBody()
    </main>

    <footer>
        <il-footer>
         	  <div slot="contact" class="il-footer-contact uofi_address">
  			  <p><a href="https://techservices.illinois.edu" data-wpel-link="internal" rel="noopener noreferrer">Technology Services</a></p>
		      <p>1211 Digital Computer Lab</p><p>1304 W. Springfield Ave.</p><p>Urbana, IL, 61801</p>
			  </div>

			  <div slot="social" class="il-footer-social">
				<ul>
					<li><a href="http://www.twitter.com/techservicesil" data-wpel-link="external" rel="external noopener noreferrer" class="wpel-icon-right">Twitter<span class="wpel-icon wpel-image wpel-icon-12"></span></a></li>
					<li><a href="http://www.facebook.com/techservicesil" data-wpel-link="external" rel="external noopener noreferrer" class="wpel-icon-right">Facebook<span class="wpel-icon wpel-image wpel-icon-12"></span></a></li>
					<li><a href="http://www.instagram.com/techservicesil" data-wpel-link="external" rel="external noopener noreferrer" class="wpel-icon-right">Instagram<span class="wpel-icon wpel-image wpel-icon-12"></span></a></li>
				</ul>
  		      </div>
		
				<div slot="parent" class="il-footer-parent">
							<p><a href="https://techservices.illinois.edu/office-cio/" data-wpel-link="internal" rel="noopener noreferrer">Office of the Chief Information Officer</a></p>
				</div>
		
				<div class="il-footer-navigation">
					<div class="il-footer-navigation-column">
				<p><strong>HELP DESK</strong></p>
<hr />
<p>consult@illinois.edu<br />
217-244-7000</p>
				
					</div>
									<div class="il-footer-navigation-column">
				<p><strong>HOURS OF OPERATION</strong></p>
<hr />
<p>Weekdays: 8:00 a.m. &#8211; 9:00 p.m.<br />
Weekends: 12:00 p.m. &#8211; 5:00 p.m.</p>
<p>Due to precautions for COVID-19,<span style="color: #ffffff;"> <a style="color: #ffffff; text-decoration: underline; display: block;" href="https://techservices.illinois.edu/2021/08/13/fall-2021-help-desk-walk-in-support-by-appointment-only/" data-wpel-link="internal" rel="noopener noreferrer">in-person support is available by appointment only.</a></span></p>
				
					</div>
							</div>
					
		  <nav slot="links" class="il-footer-links" aria-label="Legal notices">
			<ul>
			  <li><button data-il="cookies" ></button></li>
			  <li><a data-il="privacy"></a></li>
			  <li><a data-il="copyright"></a></li>
			  <li><a data-il="accessibility"></a></li>
  			  <li><a href="https://techservicesnew.web.illinois.edu/privacy-statement/" data-wpel-link="external" rel="external noopener noreferrer" class="wpel-icon-right">Privacy Statement<span class="wpel-icon wpel-image wpel-icon-12"></span></a></li>
			 </ul>
		  </nav>

        </il-footer>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>