body {
    margin: 0;
}

    body main {
        max-width: var(--il-content-max-width);
        margin: 20px auto;
    }

.il-formatted .il-button.narrow {
    padding: 2px 20px;
}

.il-formatted h3:first-child {
    margin-top: 1.41379em;
}

ul.listofitems {
    margin-bottom: 1.5625rem;
}

    ul.listofitems li {
        margin-bottom: 5px;
    }

form.large label {
    min-width: 200px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

    form.large label.to {
        min-width: initial;
        display: inline-block;
        text-align: center;
        margin: 0 10px;
    }

    form.large label.important {
        font-weight: 700;
    }

form.large input {
    width: 100px;
}

    form.large input[type=checkbox] {
        width: initial;
    }

    form.large input.long {
        width: 400px;
    }

.fulltext {
    border: thin solid black;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.error {
    color: darkred;
    font-weight: bold;
}

.notes {
    margin-left: 210px;
    font-size: .9rem;
}

    .notes.side {
        display: inline;
        margin-left: 10px;
    }

.uploader {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

    .uploader img, .uploader a, .uploader div, .uploader button {
        flex: 1 0 0;
    }

    .uploader img, .uploader #link-cv {
        max-width: 244px;
    }

    .uploader button {
        margin-bottom: 15px;
    }

.il-formatted ul.listing li {
    list-style: none;
    margin-left: 0;
    padding-bottom: 10px;
    border-bottom: thin solid var(--il-cloud-2);
    margin-bottom: 10px;
}

    .il-formatted ul.listing li label.full {
        min-width: 100px;
        display: inline-block;
        text-align: right;
        margin-right: 10px;
    }

    .il-formatted ul.listing li label {
        text-align: right;
        margin-right: 10px;
    }

    .il-formatted ul.listing li input {
        width: 400px;
        margin-right: 10px;
    }

        .il-formatted ul.listing li input.full {
            width: 1000px;
        }

        .il-formatted ul.listing li input.small {
            width: 50px;
        }

    .il-formatted ul.listing li select {
        margin-right: 10px;
    }

#profile-addition {
    background: var(--il-gray-1);
    padding: 0 1rem 2rem 1rem;
}

.message {
    transition: opacity 400ms;
    opacity: 0;
    color: darkred;
    font-weight: bold;
    padding-left: 15px;
}

.show {
    opacity: 1;
}

.profile-preferences label {
    width: 175px;
    display: inline-block;
    padding-left: 30px;
}

.profile-preferences input, .profile-preferences select {
    margin-left: 10px;
}

#image-photo, #link-cv {
    margin-right: 20px;
}

#areas a.il-button, #names a.il-button, #profiles a.il-button {
    margin-left: 20px;
}