@page
@model ContactAppCore.Pages.AdminModel

@inject SecurityHelper Security
@{
    ViewData["Title"] = "Administration";

    if (!Security.IsFullAdmin(User).Result)
    {
        Response.Redirect("/Index");
    }
}
<h1>Full Administrator List</h1>
<p>These people will be able to update all areas and offices. They are the only people who can add and delete new areas. </p>
<ul id="names" class="listofitems">
</ul>

<hr />

<form id="newpersonform">
    <label for="name">Add a new full administrator: </label>
    <input type="text" id="name" name="name" />
    <button id="addperson" class="il-button narrow" onclick="return addPerson();">Add Person</button>
</form>
<a href="/List">Back to Area List</a>

@section Scripts
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function (event) {
            loadPeople();
        });

        function addPerson() {
            let formData = new FormData();
            formData.append('name', document.getElementById('name').value);
            fetch('/Api/EditPerson/AddFullAdmin', {
                method: 'POST',
                body: formData
            }).then(res => loadPeople());
            return false;
        }

        function removePerson(i) {
            if (confirm('Are you sure you want to remove this person?')) {
                fetch('/Api/EditPerson/Delete/' + i, {
                    method: 'POST',
                }).then(res => loadPeople());
            }
            return false;
        }

        function loadPeople() {
            document.getElementById('name').value = '';
            fetch('/Api/Person/Admin', {
                method: 'GET',
                headers: {
                    "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
                }
            }).then(res => res.json()).then(data => {
                let list = document.getElementById('names');
                list.innerHTML = '';
                data.forEach(element => {
                    const li = document.createElement('li');
                    const anchor = document.createElement('a');
                    anchor.innerHTML = 'Remove person';
                    anchor.setAttribute('data-index', element.id);
                    anchor.setAttribute('href', '#');
                    anchor.setAttribute('onclick', 'return removePerson(' + element.id + ');');
                    anchor.setAttribute('class', 'il-button narrow');
                    li.innerHTML = element.title;
                    li.appendChild(anchor);
                    list.appendChild(li);
                });
            });
        }
    </script>
}