@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to the Contact Application database</h1>
    <p>This is meant to serve as a database to allow users to update their hours of operation and contact information for TDX. This information can be imported into your website as well. </p>
    <p>If you would like access to edit your information, send a ticket to support@@education.illinois.edu. </p>
    <p><a href="/List">See your information.</a></p>
</div>