@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to the Contact Support Application database</h1>
    <p>This is meant to serve as a database to allow users to update their hours of operation and contact information for TDX. This information can be imported into your website as well. </p>
    <p>If you would like access to edit your information, send a ticket to support@@education.illinois.edu. </p>
    <p><a href="/List">View and Edit your Area and Office Information</a></p>
    <p><a href="/Profile">Edit Profile Information</a> (for units that are using profile information)</p>
</div>