@page
@model ContactAppCore.Pages.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>List of Units and Offices/Teams</h1>
<p>This is a list of units and offices/teams you can update. See the <a href="https://help.uillinois.edu/TDClient/42/UIUC/Home/?ID=5c795c29-e7a7-403b-977f-687384d49fe7">TDX Help Page</a> for an example of your entry</p>
<div style="display: flex; gap: 10px; margin-top: 1rem;">
    <div style="flex: 1 1;">
        <h2>Available Units</h2>
        <ul id="areas" class="listofitems">
        </ul>
        <div id="fulladmin" style="display: none;">
            <hr />
            <form id="newareaform">
                <label for="name">Add a new unit: </label>
                <input type="text" id="name" name="name" />
                <button id="addarea" class="il-button narrow" onclick="return addArea();">Add Unit</button>
            </form>
            <a href="/Admin">Maintain full administrator list</a>
        </div>
    </div>
    <div style="flex: 1 1;">
        <h2>Available Offices/Teams</h2>
        <ul id="offices" class="listofitems">
        </ul>
        <div id="areaadmin" style="display: none;">
            <hr />
            <form id="newofficeform">
                <label for="nameoffice">Add a new office/team: </label>
                <input type="text" id="nameoffice" name="nameOffice" />
                <input type="hidden" id="areaid" name="areaid" />
                <button id="addoffice" class="il-button narrow" onclick="return addOffice();">Add Office/Team</button>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function (event) {
            loadItems();
        });

        function addArea() {
            let formData = new FormData();
            formData.append('title', document.getElementById('name').value);
            fetch('/Api/EditArea/Add', {
                method: 'POST',
                body: formData
            }).then(res => loadItems());
            return false;
        }

        function addOffice() {
            let formData = new FormData();
            formData.append('title', document.getElementById('nameoffice').value);
            formData.append('areaid', document.getElementById('areaid').value);
            fetch('/Api/EditArea/AddOffice', {
                method: 'POST',
                body: formData
            }).then(res => loadOfficeItems(document.getElementById('areaid').value));
            return false;
        }

        function loadItems() {
            document.getElementById('name').value = '';
            fetch('/Api/Item/', {
                method: 'GET',
                headers: {
                    "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
                }
            }).then(res => res.json()).then(data => {
                if (data.isDeniedAccess) {
                    console.log('does not have access -- redirect');
                }
                if (data.isFullAdmin) {
                    document.getElementById('fulladmin').style.display = '';
                }

                let arealist = document.getElementById('areas');
                let officelist = document.getElementById('offices');
                arealist.innerHTML = '';
                officelist.innerHTML = '';
                let noArea = data.areas.length == 0 && data.offices.length > 0;
                let singleArea = data.areas.length == 1 && data.offices.length == 0;

                data.areas.forEach(element => {
                    const li = document.createElement('li');
                    const anchorItem = document.createElement('a');
                    anchorItem.innerHTML = 'Edit ' + element.title;
                    anchorItem.setAttribute('class', 'il-button narrow');
                    anchorItem.setAttribute('href', '/AreaEdit?id=' + element.id);
                    li.appendChild(anchorItem);

                    if (!singleArea) {
                        const anchor = document.createElement('a');
                        anchor.innerHTML = 'View Offices';
                        anchor.setAttribute('href', '#');
                        anchor.setAttribute('aria-label', 'Load ' + element.title + ' offices and move to first office');
                        anchor.setAttribute('class', 'il-button narrow');
                        anchor.setAttribute('onclick', 'return loadOfficeItems(' + element.id + ');');
                        li.appendChild(anchor);
                    }
                    arealist.appendChild(li);
                });
                if (noArea || singleArea) {
                    data.offices.forEach(element => {
                        const li = document.createElement('li');
                        const anchorItem = document.createElement('a');
                        anchorItem.innerHTML = element.title;
                        anchorItem.setAttribute('href', '/OfficeEdit?id=' + element.id);
                        li.appendChild(anchorItem);
                        officelist.appendChild(li);
                    });
                    if (singleArea) {
                        document.getElementById('areaid').value = data.areas[0].id;
                        document.getElementById('areaadmin').style.display = '';
                        if (data.offices.length == 0) {
                            loadOfficeItems(data.areas[0].id);
                        }
                    }
                }
            });
        }

        function loadOfficeItems(i) {
            document.getElementById('name').value = '';
            fetch('/Api/Item/Area/' + i, {
                method: 'GET',
                headers: {
                    "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
                }
            }).then(res => res.json()).then(data => {
                if (data.isDeniedAccess) {
                    console.log('does not have access -- redirect');
                }
                if (data.isFullAdmin) {
                    document.getElementById('areaid').value = i;
                    document.getElementById('areaadmin').style.display = '';
                }
                let officelist = document.getElementById('offices');
                let firstItem = null;
                officelist.innerHTML = '';
                data.offices.forEach(element => {
                    const li = document.createElement('li');
                    const anchorItem = document.createElement('a');
                    anchorItem.innerHTML = element.title;
                    anchorItem.setAttribute('href', '/OfficeEdit?id=' + element.id);
                    li.appendChild(anchorItem);
                    officelist.appendChild(li);
                    if (firstItem == null) {
                        firstItem = anchorItem;
                    }
                });
                if (firstItem != null) {
                    firstItem.focus();
                }
            });
            return false;
        }
    </script>
}