@page
@model ContactAppCore.Pages.ProfileModel
@{
}
<link rel="stylesheet" href="/css/quill.bubble.css" />
<h1>Edit Profile</h1>

<form id="profile">
    <h2>General Information for @User.Identity.Name</h2>
    <input id="netid" name="netid" type="hidden" value="@User.Identity.Name.Replace("@illinois.edu", "")" />
    <input id="id" name="id" type="hidden" value="0" />
    <div><label for="biography">Biography:</label><div id='biography' class='fulltext'></div></div>

    <button class="il-button" id="updateGeneral" onclick="return update();">Update Office Information</button>
</form>

<h2>Picture</h2>
<div class="uploader">
    <img id="image-photo" />
    <input type="file" id="picture-upload" name="picture-upload">
    <button class="il-button narrow" onclick="return picture();">Upload Photo</button>
    <button class="il-button narrow" onclick="return deletepicture();">Delete Photo</button>
</div>

<h2>CV</h2>
<div class="uploader">
    <a id="link-cv">Link to CV</a>
    <input type="file" id="cv-upload" name="cv-upload">
    <button class="il-button narrow" onclick="return cv();">Upload CV</button>
    <button class="il-button narrow" onclick="return deletecv();">Delete CV</button>
</div>

<h2>Activities</h2>
<ul id="activities" class="listing">
</ul>

@section Scripts
{
    <script src="~/js/quill.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var quillInfo = new Quill('#biography', {
            modules: {
                toolbar: [
                    ['bold', 'italic', 'link', { 'list': 'ordered' }, { 'list': 'bullet' }, 'clean']
                ],
                keyboard: {
                    bindings: {
                        tab: {
                            key: 9,
                            handler: () => { document.getElementById('updateGeneral').focus(); },
                        },
                        'remove tab': {
                            key: 9,
                            shiftKey: true,
                            collapsed: true,
                            prefix: /\t$/,
                            handler: () => { },
                        }
                    }
                }
            },
            placeholder: 'Enter your biography ...',
            theme: 'bubble'
        });

        function loadInformation() {
            document.getElementById('id').value = '';
            fetch('/Api/Employee/ByName/@User.Identity.Name.Replace("@illinois.edu", "")', {
                method: 'GET',
                headers: {
                    "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
                }
            }).then(res => res.json()).then(data => {
                if (data != null) {
                    document.getElementById('id').value = data.id;
                    if (data.biography != null) {
                        quillInfo.setContents(quillInfo.clipboard.convert(data.biography), 'silent');
                    }
                    if (data.photoUrl != null && data.photoUrl != '') {
                        document.getElementById('image-photo').setAttribute('src', data.photoUrl + '?id=' + new Date().getTime());
                        document.getElementById('image-photo').style.display = '';
                    } else {
                        document.getElementById('image-photo').style.display = 'none';
                    }
                    if (data.cvUrl != null && data.cvUrl != '') {
                        document.getElementById('link-cv').setAttribute('href', data.cvUrl);
                        document.getElementById('link-cv').style.display = '';
                    } else {
                        document.getElementById('link-cv').style.display = 'none';
                    }
                    const ul = document.getElementById('activities');
                    ul.innerHTML = '';
                    if (data.employeeActivities != null) {
                        data.employeeActivities.forEach(e => {
                            const li = document.createElement('li');
                            li.id = 'activity-' + e.id;
                            const divName = document.createElement('div');
                            const divDesc = document.createElement('div');
                            const divOther = document.createElement('div');
                            divName.innerHTML = `<label for="activityname-${e.id}" class="full">Name:</label><input id="activityname-${e.id}" name="name" value="${e.title.replace(/\"/g, '&quot;')}" />
		<label for="activityurl-${e.id}" class="full">URL:</label><input id="activityurl-${e.id}" name="url" value="${e.url}" />`;
                            divDesc.innerHTML = `<label for="activitydescription-${e.id}" class="full">Description:</label><input id="activitydescription-${e.id}" name="description" class="full" value="${e.description.replace(/\"/g, '&quot;')}" />`;
                            divOther.innerHTML = `<label for="activityyearstarted-${e.id}" class="full">Year Started:</label><input id="activityyearstarted-${e.id}" name="yearStarted" class="small" value="${e.yearStarted}" />
		<label for="activityyearended-${e.id}">Year Ended:</label><input id="activityyearended-${e.id}" name="yearEnded" class="small" value="${e.yearEnded}" />
		<label for="activitytype-${e.id}">Type:</label><select id="activitytype-${e.id}" name="type">
			<option value="publication">Publication</option>
			<option value="presentation" ${e.type == 'presentation' ? 'selected' : ''}>Presentation</option>
			<option value="education" ${e.type == 'education' ? 'selected' : ''}>Education</option>
			<option value="appointment" ${e.type == 'appointment' ? 'selected' : ''}>Professional Appointment</option>
		</select>
		<label for="activitypriority-${e.id}">Priority:</label><select id="activitypriority-${e.id}" name="priority">
			<option value="3">Medium</option>
			<option value="1" ${e.internalOrder == 1 ? 'selected' : ""}>High</option>
			<option value="5" ${e.internalOrder == 5 ? 'selected' : ""}>Low</option>
		</select>
		<button class="il-button narrow" onclick="return editactivity(this);" data-id="${e.id}">Edit</button><button class="il-button narrow" onclick="return deleteactivity(this);" data-id="${e.id}">Delete</button>`;
                            li.appendChild(divName);
                            li.appendChild(divDesc);
                            li.appendChild(divOther);
                            ul.appendChild(li);
                        });
                    }
                    const liNew = document.createElement('li');
                    liNew.id = 'activity-new';
                    liNew.innerHTML = `<div>
            <label for="activityname-new" class="full">Name:</label><input id="activityname-new" name="name" />
            <label for="activityurl-new" class="full">URL:</label><input id="activityurl-new" name="url" />
        </div>
        <div>
            <label for="activitydescription-new" class="full">Description:</label><input id="activitydescription-new" name="description" class="full" />
        </div>
        <div>
            <label for="activityyearstarted-new" class="full">Year Started:</label><input id="activityyearstarted-new" name="yearStarted" class="small" />
            <label for="activityyearended-new">Year Ended:</label><input id="activityyearended-new" name="yearEnded" class="small" />
            <label for="activitytype-new">Type:</label><select id="activitytype-new" name="type">
                <option value="publication">Publication</option>
                <option value="presentation">Presentation</option>
                <option value="education">Education</option>
                <option value="appointment">Professional Appointment</option>
            </select>
            <label for="activitypriority-new">Priority:</label><select id="activitypriority-new" name="priority">
                <option value="3">Medium</option>
                <option value="1">High</option>
                <option value="5">Low</option>
            </select>
            <button class="il-button narrow" onclick="return addactivity();">Add New Activity</button>
        </div>`;
                    ul.appendChild(liNew);
                } else {
                    document.getElementById('id').value = '0';
                }
            });
        }

        function update() {
            let object = {};
            object['id'] = document.getElementById('id').value;
            object['biography'] = cleanQuill(quillInfo.root.innerHTML);
            var json = JSON.stringify(object);
            fetch('/Api/EditEmployee/Update', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: json
            });
            return false;
        }

        function picture() {
            var fd = new FormData();
            var file_data = document.getElementById('picture-upload').files[0];
            fd.append('file', file_data);
            fd.append('id', document.getElementById('id').value);
            fetch('/Api/EditEmployee/Picture', {
                method: 'POST',
                body: fd
            }).then(loadInformation());
        }

        function deletepicture() {
            var fd = new FormData();
            fd.append('id', document.getElementById('id').value);
            fetch('/Api/EditEmployee/DeletePicture', {
                method: 'POST',
                body: fd
            }).then(loadInformation());
        }

        function cv() {
            var fd = new FormData();
            var file_data = document.getElementById('cv-upload').files[0];
            fd.append('file', file_data);
            fd.append('id', document.getElementById('id').value);
            fetch('/Api/EditEmployee/CV', {
                method: 'POST',
                body: fd
            }).then(loadInformation());
        }

        function deletecv() {
            var fd = new FormData();
            fd.append('id', document.getElementById('id').value);
            fetch('/Api/EditEmployee/DeleteCV', {
                method: 'POST',
                body: fd
            }).then(loadInformation());
        }

        function addactivity() {
            let object = {};
            object['employeeId'] = document.getElementById('id').value;
            document.querySelectorAll("#activity-new select, #activity-new input").forEach(p => object[p.name] = p.value);
            var json = JSON.stringify(object);
            fetch('/Api/EditEmployeeActivity/Add', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: json
            }).then(loadInformation());
            return false;
        }

        function editactivity(button) {
            let object = {};
            object['employeeId'] = document.getElementById('id').value;
            let activityId = button.getAttribute('data-id');
            object['id'] = activityId;
            document.querySelectorAll("#activity-" + activityId + " select, #activity-" + activityId + " input").forEach(p => object[p.name] = p.value);
            var json = JSON.stringify(object);
            fetch('/Api/EditEmployeeActivity/Edit', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: json
            });
            return false;
        }

        function deleteactivity(button) {
            if (confirm("This will delete the activity. Are you sure?")) {
                let object = {};
                object['employeeId'] = document.getElementById('id').value;
                object['id'] = button.getAttribute('data-id');
                var json = JSON.stringify(object);
                fetch('/Api/EditEmployeeActivity/Delete', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: json
                }).then(loadInformation());
            }
            return false;
        }

        function cleanQuill(s) {
            if (s == '<br />' || s == '<br>' || s == '<p><br></p>') {
                return '';
            }
            return s;
        }

        document.addEventListener('DOMContentLoaded', function (event) {
            loadInformation();
        });
    </script>
}